.header {
  max-width: 984px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  padding: 34px 5vw 0 5vw;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;  
    padding: 34px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;  
    padding: 20px 16px 0 16px;
  }
}