.cover__background {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../../image/__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover__background:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../../image/__background.jpg);
}
