.place__url-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  color: #aaaaaa;
  margin: 0 0 4px 0;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
  .place__url-title {
    line-height: 1;
  }
}